@import "../valo/valo.scss";


@mixin mytheme {
  	@include valo;
  
	$background-color: #43857C;
	$text-color: #00352E;
	
	.v-ui {
		background-color: #43857C;
	}

	.login {
	     background-color: cadetblue;
	     .v-label {
	     	font-weight: bold; 
     	}
	}
	
	.main {
		background-color: $background-color;
		.v-label{
			color: $text-color;
			font-weight: bolder;
		}
		
		.v-caption {
			color: $text-color;
			font-weight: bolder;
			font-size: large;
		}
		
		.v-captiontext {
			color: $text-color;
			font-weight: bolder;
		}
		
		.v-checkbox label {
			color: $text-color;
			font-weight: bolder;
		}
		
		.v-button {
		    background-color: #00352e;
		    background-image: none;
		    border: 1px none #00352e;
		    border-radius: 4px;
		    box-shadow: none;
		    color: white;
		}
		
		.v-menubar {
		    background-color: #00352e;
		    background-image: none;
		    border: 0 none #00352e;
		    border-radius: 0;
		    box-shadow: none;
		    color: white;
		    font-weight: bold;
		    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
		}
		
		.v-menubar > .v-menubar-menuitem-selected {
		    background-color: #6ba099;
		    background-image: none;
		    border-color: #6ba099;
		    border-image: none;
		    border-radius: 0;
		    border-style: solid;
		    border-width: 0 1px 0 0;
		    box-shadow: none;
		}
		
		.v-tree-node-caption {
			color: $text-color;
		}
	}
	
	.comment {
		background-color: #6BA099;
		border: solid;
		.v-label {
			color: #00352E;
		}
	}
	
	.bestComment {
		background-color: #7CB95C;
		border: solid;
		.v-label {
			color: #336F13;
		}
		.v-button {
		    background-color: #1A4A00;
		}
		
	}
	
	.urgentComment {
		background-color: #D46A6A;
		border: solid;
		.v-label {
			color: #801515;
		}
		.v-button {
		    background-color: #530006;
		}
	}
	
	.prueba {
	
		.mytheme .v-textfield {
			width: 1000px;
		}
	}
	
}
